In [102]:
# Dependencies
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import time
import pandas as pd

In [88]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [89]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [90]:
#start with NASA Mars News
news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)
html = browser.html

#create BeautifulSoup object
soup = BeautifulSoup(html, "html.parser")

In [91]:
#find first article
article = soup.find("div", class_="list_text")

In [92]:
news_title = article.find("div", class_="content_title").text
news_p = article.find("div", class_="article_teaser_body").text

#check by printing variables
print(news_title)
print(news_p)

InSight's 'Mole' Team Peers into the Pit
Efforts to save the heat probe continue.

In [93]:
#now to find featured JPL Mars Image
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_url)

#have browser click through to home page of image
browser.click_link_by_partial_text('FULL IMAGE')
browser.is_element_present_by_text("more info", wait_time = 1)
browser.click_link_by_partial_text("more info")

In [94]:
#once at correct page, create beautiful soup object
html = browser.html
soup = BeautifulSoup(html, "html.parser")

#parse through object to get url
images = soup.find("img", class_="main_image")["src"]

featured_image_url = "https://www.jpl.nasa.gov" + images
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17838_hires.jpg

In [95]:
#On to Mars Weather
weather_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(weather_url)

In [96]:
#create beautiful soup object and parse through to get text

html = browser.html
soup = BeautifulSoup(html, "html.parser")

weather = soup.find("div", class_="js-tweet-text-container")
mars_weather = weather.find("p", class_="TweetTextSize").text
print(mars_weather)

InSight sol 334 (2019-11-04) low -100.0ºC (-148.1ºF) high -23.8ºC (-10.8ºF)
winds from the SSW at 5.1 m/s (11.4 mph) gusting to 19.9 m/s (44.4 mph)
pressure at 7.00 hPapic.twitter.com/D4EX1MROay

In [100]:
#Grab Mars Facts
url ="https://space-facts.com/mars/"
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [104]:
#convert table we want to dataframe
df = tables[1]
df = df.set_index("Mars - Earth Comparison")
df

                                    Mars            Earth
Mars - Earth Comparison
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:               -153 to 20 °C      -88 to 58°C

In [105]:
#convert dataframe to HTML table string
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-153 to 20 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [106]:
#strip unnecessary line breaks
html_table = html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars</th>      <th>Earth</th>    </tr>    <tr>      <th>Mars - Earth Comparison</th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Diameter:</th>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>Moons:</th>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>Distance from Sun:</th>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>Length of Year:</th>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>Temperature:</th>      <td>-153 to 20 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

In [107]:
#get images for Mars' hemispheres
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

#create beautiful soup object and parse through to get text

html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [115]:
#find all hemisphere links and titles
results = soup.find_all("div", class_="description")
hemisphere_title = []
hemisphere_url = []
for result in results:
 # Error handling - see comments for where errors are possible
    try:
        # Identify and return title of listing
        title = result.find("h3").text
        hemisphere_title.append(title)
        # Identify and return link
        link = "https://astrogeology.usgs.gov" + result.a['href']
        hemisphere_url.append(link)

    except AttributeError as e:
        print(e)
        
print(hemisphere_title)
print(hemisphere_url)

['Cerberus Hemisphere Enhanced', 'Schiaparelli Hemisphere Enhanced', 'Syrtis Major Hemisphere Enhanced', 'Valles Marineris Hemisphere Enhanced']
['https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced', 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced', 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced', 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced']

In [116]:
#create dictionaries

a = {"title": hemisphere_title[0], "img_url": hemisphere_url[0]}
b = {"title": hemisphere_title[1], "img_url": hemisphere_url[1]}
c = {"title": hemisphere_title[2], "img_url": hemisphere_url[2]}
d = {"title": hemisphere_title[3], "img_url": hemisphere_url[3]}

#create list of dictionaries
hemisphere_img_urls = [a, b, c, d]

#print to check
print(hemisphere_img_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced'}]